div.menu_derecho ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	list-style-position: outside;
}
		 
div.menu_derecho li{
	list-style: none;
	box-shadow: 0 0 0 0 #800;
}

div.menu_derecho li a:hover{
	background-color:#e0dcdb;
}

div.menu_derecho li a{
	line-height: 30px;
	font-size: 16px;
	cursor:pointer;
	padding: 2px 8px;
	color: #000;
	display: block;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div.menu_derecho li a span{
	float: right;
	padding-top: 7px;
}

div.menu_derecho {
	position: absolute;
	background: #fbfbfb;
	border: 1px solid #bfbfbf;
	z-index: 999999;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}