
html {    
    margin: 0;
    padding: 0;
}
body   
{
	background-color:#F6f6f6;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: #000;
}
.top_header
{
    background-color: #3367d6;
}

/*MENU*/
.icono
{
    position: absolute;
    right: 7px;top: 7px;cursor: pointer;  
    display: inline-block;vertical-align: middle;background-image: url('../iconos.png');
    background-repeat: no-repeat;text-decoration: none;  background-position: 0 -105px;
}
.top_menu
{    
     cursor: pointer;  
     display: inline-block;
     width:90px;
     height:55px;   
     float:left;       
     margin:0px 7px 0px -5px;
     background-repeat: no-repeat;
     background-image: url('../Imagenes/header-menu.png');        
}

/*MENU   -    MENU    -     LEFT */




.medium{
    position:absolute;    
}


h1, h2, h3, h4
{
    margin:0; padding:0;
}
hr{
    margin:1px 0 8px;
    border:1px solid #d5d5d5;
}
/*Validaciones */
.Highlight{ background-color:#ffffd7; border:1px solid Black; z-index:200;}
.CustomValidatorCalloutStyle div, .CustomValidatorCalloutStyle td { 
    border:solid 1px Orange; background-color: #ffffd7; z-index:200;}
    
/** TextBox **/
.TextBox        {outline:0 none; font-family:Arial; font-size:15px; border:1px #aaaaaa solid; border-radius:4px; padding: 2px;
                 font-family: 'Roboto', sans-serif; margin-right: 0px;
}
.TextBox:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 
.TextBox2        {outline:0 none; font-family:Arial; font-size:14px; border:1px #aaaaaa solid; padding: 2px;
                 font-family: 'Roboto', sans-serif; margin-right: 0px;
}
.TextBox2:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 

.TextWater { outline:0 none; font-family: 'Roboto', sans-serif; font-size:15px; border:1px #9E9E9E solid; border-radius:4px; padding: 2px;
    margin-right: 0px; color:#ccc}
.WaterTextBox        {outline:0 none; font-family:Arial; font-size:15px; border:1px #9E9E9E solid; border-radius:4px; padding: 2px; color:#ccc; text-align:center}
.WaterTextBox:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 

.TextBoxInscripcion        
{outline:0 none; font-family: 'Roboto', sans-serif; font-size:15px; border:1px #aaaaaa solid; border-radius:4px; padding: 5px 3px; margin-right: 0px;
}
.TextBoxInscripcion:focus  {-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA; box-shadow: 0px 0px 5px #0C87DA;} 
.TextWaterInscripcion { outline:0 none; font-family: 'Roboto', sans-serif; font-size:15px; border:1px #9E9E9E solid; border-radius:4px; padding: 5px 3px;
    margin-right: 0px; color:#ccc}

/** BOTONES **/
#btnSesion{font-family: 'Roboto', sans-serif;color: #fff; font-size: 11pt; background-color: transparent;text-decoration:none;}
#btnSesion:hover{text-decoration:underline; cursor:pointer;}
.botoneseva {
  background: #d5a952;
  background-image: -webkit-linear-gradient(top, #d5a952, #a68240);
  background-image: -moz-linear-gradient(top, #d5a952, #a68240);
  background-image: -ms-linear-gradient(top, #d5a952, #a68240);
  background-image: -o-linear-gradient(top, #d5a952, #a68240);
  background-image: linear-gradient(to bottom, #d5a952, #a68240);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 4px 10px 4px 10px;
  border: solid #000000 0px;
  text-decoration: none;
}

.botoneseva:hover {
  background: #a68240;
  background-image: -webkit-linear-gradient(top, #a68240, #a68240);
  background-image: -moz-linear-gradient(top, #a68240, #a68240);
  background-image: -ms-linear-gradient(top, #a68240, #a68240);
  background-image: -o-linear-gradient(top, #a68240, #a68240);
  background-image: linear-gradient(to bottom, #a68240, #a68240);
  text-decoration: none;
  cursor:pointer;
}
.botones{
    padding:4px 7px; font-size:12px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f4', endColorstr='#cccccc',GradientType=0);        
    background-color:#f7f6f4;box-shadow: 0px 0px 3px #666; border-radius:5px; -moz-border-radius:5px;border:1px solid #797979;
    color:#000;text-decoration:none;
    text-align: center;
    white-space: nowrap;
}  
.botones:hover 
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8f6fd), color-stop(1, #a9dbf6));
    background:-moz-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background:-webkit-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background:-o-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background:-ms-linear-gradient(top, #e8f6fd 5%, #a9dbf6 100%);
    background:linear-gradient(to bottom, #e8f6fd 5%, #a9dbf6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f6fd', endColorstr='#a9dbf6',GradientType=0);        
    background-color:#e8f6fd; border:1px solid #3c7fb1; box-shadow: 0px 0px 3px #a9dbf6; cursor:pointer;
}
.button {padding:7px; border:1px #9E9E9E solid; font-family:Tahoma 18px; font-size:12px;
        background: -moz-linear-gradient(#FFFFFF,#9E9E9E); /* FF3.6+ */
        background: -webkit-linear-gradient(#FFFFFF,#9E9E9E);
        background: -o-linear-gradient(#FFFFFF,#9E9E9E); /* Opera 11.10+ */
        background: linear-gradient(#FFFFFF,#9E9E9E); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9E9E9E',GradientType=0 ); /* IE6-9 */
        border-radius:5px; cursor:pointer;} 
.button:focus{-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA;box-shadow: 0px 0px 5px #0C87DA;} 
.button:hover{-webkit-box-shadow: 0px 0px 5px #0C87DA;-moz-box-shadow: 0px 0px 5px #0C87DA;box-shadow: 0px 0px 5px #0C87DA;cursor:pointer;}
.button:active{background:#9E9E9E}
 
.btn{
    line-height: 14px;
}

legend 
{
    font-size: 12px;
    font-weight:normal;
    font-style:oblique;
    padding: 2px 4px 4px 4px;
    margin-bottom: 0px;
    height:auto;
}
fieldset
{    
    padding: 10px;
    border: 1px solid #ccc;
}

/*Mensaje de alerta*/
.error, .exito  {  font-size:15px; text-align:center;border: 4px solid;width: 350px; 
                    font-weight:600;padding:10px 10px; position:fixed;top:50% ;left:40%;z-index:10000000999;
                    border-radius:10px;background-repeat: no-repeat;}
.exito      {color: #4F8A10;background-color: #DFF2BF;border-color:rgba(79, 138, 16, 0.54); }
.error      {color:#D8000C;background-color:#FFBABA; border-color:rgba(255, 0, 0, 0.59);}

.mensajeusuario
{
    display:block;
    position:fixed;top:56px ;right:2px; border-radius:5px;
    padding:10px 10px; font-size:14px;
    color: #0050a0;background-color: #e6e6e6;
    border-color:rgba(79, 138, 16, 0.54);border: 1px solid;width: 400px; 
}
.mensajeusuario2
{
    display:none;
}
.img     {margin-left:5px; border:none;}
.clear  {clear:both;}
.mGrid {   
    width: 100%;      background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #525252;       border-collapse:collapse; color: #000;  
}  
.mGrid td {   
    border: solid 1px #c1c1c1;         font-size:13px; padding: 0px 2px;     
}  
.mGrid th {   
    padding: 4px 2px;       color: #fff;       background: #507cd1;   
    border: solid 0px #c1c1c1;       font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc; }  
.mGrid .pgr { background: #424242; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }
.ocultarcell
{
    display:none;    
}

.autocomplete_completionListElement
{   
    z-index:101;    
    background-color :#F6f6f6;
    color :#0C87DA;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : pointer;
    overflow : auto ;
    height : 250px ;
    font-family: 'Roboto', sans-serif;
    font-size : 14px ;
    text-align : left ;
    list-style-type :circle;
    }
.autocomplete_highlightedListItem
   {
       z-index:101;
        background-color : #ffff99 ;
        color :#0C87DA;
        padding : 1px ;
    }
.autocomplete_listItem
    {
        z-index:101;
        background-color : window ;
        color:#0C87DA;
        padding : 10px ;
   }

/*Css Styles For Word Wheel*/
/*AutoComplete flyout */
.completionList {
border:solid 1px #ccc;
margin:0px;
padding:2px;
height: 100px;
overflow:auto;
background-color: #FFFFFF;
font-size:14px;
}

.listItem {
color: #1C1C1C;
}

.itemHighlighted {
background-color: #0399e1;
color:#fff;
cursor:pointer;
}
.PanelImpresion{width:100%; font-family:Courier New;font-size: 11pt; background: #fff !important;color: #000 !important;}

.iframeSitios
{
    width:100%; min-height:100%; min-height:500px; height:735px; margin-top:-18px; border:0px;
}

#MainContent_AutoCompleteExtender1_completionListElem {
    margin: 0;
}

#MainContent_AutoCompleteExtender1_completionListElem li {
    list-style: none;
    margin: 0;
}


.mGridEvaluacion {   
    /*width: 100%;*/      background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #525252;       border-collapse:collapse; color: #000;  
}  
.mGridEvaluacion td {   
    border: solid 1px #c1c1c1;         font-size:13px; padding: 0px 2px;     
}  
.mGridEvaluacion .tdestudiante {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 4px;    /*white-space:nowrap;*/ width:380px; 
}
.mGridEvaluacion .tdnotas {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 5px;    white-space:nowrap; text-align:center
}
.mGridEvaluacion .tdobservaciones {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 2px;    white-space:nowrap; 
}
.mGridEvaluacion .tdnotasdim {   
    border: solid 1px #c1c1c1;   font-size:13px; padding: 0px 5px;    white-space:nowrap; text-align:center; width:70px;
}
.mGridEvaluacion th {   
    padding: 4px 4px;       color: #fff;       /*background: #507cd1 ;   */
    font-size: 0.9em;   /*border-left:1px solid #ccc;*/ border-right:1px solid #ccc
} 
.mGridEvaluacion .th1 {   
    background: #507cd1;   
}  
.mGridEvaluacion .th2 {   
    background: #1C418A;     
}  
.mGridEvaluacion .th3 {   
    background: #507cd1;   
} 
.mGridEvaluacion .thTotal {   
    background: #E20000;   padding:0px 3px;
    color: #fff;   text-align:center;
} 
.mGridEvaluacion .tdTotalSubProceso {   
    background: #1C418A;   padding:0px 3px;
    color: #fff;   text-align:center;
} 
.mGridEvaluacion .tdTotalProceso {   
    background: #507cd1;   padding:0px 3px;
    color: #fff;    text-align:center;
} 
.mGridEvaluacion .tdTotal {   
    background: #E20000;   padding:0px 3px;
    color: #fff;   text-align:center;
} 
.mGridEvaluacion .alt { background: #fcfcfc; }  
.mGridEvaluacion .pgr { background: #424242; }  
.mGridEvaluacion .pgr table { margin: 5px 0; }  
.mGridEvaluacion .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGridEvaluacion .pgr a { color: #666; text-decoration: none; }  
.mGridEvaluacion .pgr a:hover { color: #000; text-decoration: none; }


.mGridTesoreria {   
    background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #ccc;       border-collapse:collapse; color: #000;  margin:0 auto;
}  
.mGridTesoreria th {   
    padding: 3px 4px;       color: #fff;       background: #507cd1;   
    font-size: 15px;   border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:3px solid #dddddd;   
} 
.mGridTesoreria tr:hover {   
    background-color: #eff3fb;        
} 
.mGridTesoreria td {   
    border: solid 1px #c1c1c1;         font-size:14px; padding: 1px 4px;     
}   
.mGridTesoreria .alt { background: #fcfcfc; }  
.mGridTesoreria .pgr { background: #424242; }  
.mGridTesoreria .pgr table { margin: 5px 0; }  
.mGridTesoreria .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGridTesoreria .pgr a { color: #666; text-decoration: none; }  
.mGridTesoreria .pgr a:hover { color: #000; text-decoration: none; }


.mGridNotas {   
    background-color: #fff;      margin: 5px 0 10px 0;       border: solid 0px #525252;       border-collapse:collapse; color: #000;  margin:0 auto;
}  
.mGridNotas th {   
    padding: 3px 4px;       color: #fff;       background: #507cd1 ;   
    font-size: 15px;   border-left:1px solid #ccc; border: solid 1px #c1c1c1; 
} 
.mGridNotas td {   
    border: solid 1px #c1c1c1;         font-size:14px; padding: 2px 4px;     
}   
.mGridNotas .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGridNotas .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGridNotas .pgr table { margin: 5px 0; }  
.mGridNotas .pgr td {   
    border-width: 0;       padding: 0 6px;       border-left: solid 1px #666;       font-weight: bold;       color: #fff;     line-height: 12px;   
 }     
.mGridNotas .pgr a { color: #666; text-decoration: none; }  
.mGridNotas .pgr a:hover { color: #000; text-decoration: none; }

.cajafiltro 
{
    background-color:#e6e6e6;
    border:1px solid #d5d5d5;
    border-radius:5px;
    -moz-border-radius:5px;
    padding:0px;
    border-spacing:5px;
    margin:2px 0 8px;    
}
.cajafiltroCentrado
{
    background-color:#e6e6e6;
    border:1px solid #d5d5d5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:0px;
    border-spacing:5px;
    margin:2px auto 8px;    
}
.cajafiltroCentrado .primeracolumna{
    background-color:#d8d8d8;
    font-weight:bold;
}

.btn{
    border-radius:5px; 
    -moz-border-radius:5px;     
    box-shadow: 0px 0px 3px #666; 
    padding:4px 7px; font-size:12px;
    text-decoration:none;    
    font-weight:400;    
    text-align:center;white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;
    background-image:none;
    border:1px solid transparent;  
    letter-spacing:0.5px;  
    white-space: nowrap;
}
.btn-danger{
    color:#fff;    
    background-color:#DF4B46;
    border-color:#d43f3a;
}
.btn-danger:hover{
    background-color:#c9302c;
}
.btn-success{
    color:#fff;    
    background-color:#3DAA3D;
    border-color:#2C972C;
}
.btn-success:hover{
    background-color:#3d8e3d;
}
.btn-primary{
    color:#fff;    
    background-color:#428bca;
    border-color:#357ebd
}
.btn-primary:hover{
    background-color:#3071a9;
}
.borderight{
    border-right:1px solid #9E9E9E;
}
.btn-warning {
    color: #fff;
    background-color: #efb73e;
    border-color: #efb73e;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ecaa1b;
    border-color: #e7a413;
}



