
        .Highlight {
            background-color: #ffffd7;
            border: 1px solid Black;
            z-index: 200;
        }

        .CustomValidatorCalloutStyle div, .CustomValidatorCalloutStyle td {
            border: solid 1px Orange;
            background-color: #ffffd7;
            z-index: 200;
        }

        ul, li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        #pswd_info {
            display: none;
        }

        #pswd_info {
            position: relative;
            /*float:right;
            bottom: -75px;
            bottom: -115px\9; 
            right: 55px;*/
            width: 250px;
            padding: 15px;
            margin: 0 auto;
            background: #fefefe;
            font-size: .875em;
            border-radius: 5px;
            box-shadow: 0 1px 3px #ccc;
            border: 1px solid #ddd;
        }

            #pswd_info h4 {
                margin: 0 0 10px 0;
                padding: 0;
                font-weight: normal;
            }

            #pswd_info::before {
                content: "\25B2";
                position: absolute;
                top: -12px;
                left: 45%;
                font-size: 14px;
                line-height: 14px;
                color: #ddd;
                text-shadow: none;
                display: block;
            }

        .invalid {
            /*background: url(../Imagenes/delete.png) no-repeat 0 50%;*/
            /*padding-left: 22px;*/
            line-height: 24px;
            color: #ec3f41;
        }

        .valid {
           /* background: url(../Imagenes/ok.png) no-repeat 0 50%;*/
            /*padding-left: 22px;*/
            line-height: 24px;
            color: #3a7d34;
        }

           #pswd_no {
            display: none;
        }

        #pswd_no {
            position: relative;
            /*float:right;
            bottom: -75px;
            bottom: -115px\9; 
            right: 55px;*/
            text-align:center;
            width: 270px;
            padding: 15px;
            margin:0 auto;
            background: #fefefe;
            
            border-radius: 5px;
            box-shadow: 0 1px 3px #ccc;
            border: 1px solid #ddd;
        }

            #pswd_no>h4 {
                margin: 0 0 0px 0;
                padding: 0;
                color:red;
                font-size: 16px;
            }

            #pswd_no::before {
                content: "\25B2";
                position: absolute;
                top: -12px;
                left: 45%;
                font-size: 14px;
                line-height: 14px;
                color: #ddd;
                text-shadow: none;
                display: block;
            }